* {
  box-sizing: border-box;
}
:root {
    --light-cream: #FCF9F2;
    --dark-cream: #E6DCCB;
    --dark-brown: #361C1C;
    --med-brown: #804C3C;
    --black: #1C1010;
    --white: #FFFEFB;

    --border-thin: 2px;
    --border-medium: 8px;
    --border-thick: 20px;

    --text-small: 0.8rem;
    --text-medium: 1.05rem;
    --text-large: 1.25rem;
    --text-xlarge: 1.5rem;
    --text-2xl: 2rem;
    --text-3xl: 3rem;
}

hr {
  border: none;
  margin: 0;
}

.borderThin   { border-top: var(--border-thin) solid var(--dark-brown); }
.borderMedium { border-top: var(--border-medium) solid var(--dark-brown); }
.borderThick  { border-top: var(--border-thick) solid var(--dark-brown); }